.crosshair-container {
    /* change to 0 if you don't want a dot. default is 1 */
    --add-dot: 1;

    rotate: -45deg;
}

.crosshair-container .flagReturnProgressContainer {
    rotate: 45deg;
}

.crosshair-container::after {
    /* make it "disappear" when user doesn't want a dot */
    scale: calc(var(--add-dot) * 1);

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 4.5px;
    height: 4.5px;
    background: var(--line-color);
    border: 2px solid var(--outline-color);
    border-radius: 10px;
}
